{% extends "index.html" %}

{% block content %}
    <table>
        <tr>
            {% for header in headers %}
            <th>{{ header }}</th>
            {% endfor %}
          </tr>
        {% for process_item in steelprocessing_all %}
        <tr valign="top">
            <td>{{ process_item.id }}</td>
            <td>{{ process_item.timestamp }}</td>
            <td>{{ process_item.temperature }}</td>
            <td>{{ process_item.duration }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}